<html>
  <style>
    <%= Pygments.css('.highlight', style: 'monokai') %>
  </style>
  <head>
    <title>Marrow</title>
    <link rel="stylesheet" type="text/css" href="../../../../style.css">
  </head>
  <body>
    <h1>MARROW</h1>
    <div class="menu">
      <% if @@user != nil %>
        <a class="menu" href="/marrows/list_marrows">Your marrows</a>
      <% end %>
      <a class="menu" href="/marrows/browse/all_marrows">Browse</a>
      <a class="menu" href="/marrows/browse/popular_marrows">Popular</a>
      <% if @@user == nil %>
        <a class="menu" href="/users/login">Login</a>
      <% else %>
        <a class="menu" href="/users/logout">Logout</a>
      <% end %>
    </div>
  <%= yield %>
  </body>
</html>