<html>
  <style>
  /*monokai*/
    <%= Pygments.css('.highlight', style: 'monokai') %>
  </style>
  <head>
    <title>Marrow</title>
  </head>
  <body>
    <div><h1>MARROW</h1></div>
    <%= yield %>
  </body>
</html>