div.marrow_container {
	width: 900px;
	height: 350px;
	overflow: auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

div.container {
	width: 400px;
	overflow: auto;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}
/*528413gr 2088B2bl D86E3Frd*/
body {
	font-family: Arial;
	padding: 0px;
	margin: 0px;
	text-align: center;
	background: black;
	color: #D86E3F;
}

.menu {
	text-align: center;
	background: #2088B2;
	width: 100%;
}

h1 {
	font-size: 80px;
	font-weight: bolder;
	color: white;
	margin: auto;
	padding: 0px;
	letter-spacing: -10;
	text-align: center;
	background: #528413;
	margin-bottom: 0px;
}

div.menu { 
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	vertical-align: center;
}

a {
	color: #D86E3F;
	text-decoration: none;
}

a:visited {
	color: #994E2D;
}

a:hover {
	color: white;
	font-style: italic;
}

.menuButton {
	color: #dddddd;
	font-weight: bold;
	font-size: 20px;
	margin-right: 10px;
	margin-left: 10px;
}

.menuButton:visited {
	color: #dddddd;
}

.menuButton:hover {
	color: white;
	font-style: none;
}

.login {
	margin-top: 150px;
}

.register {
	margin-top: 150px;
}

input[type=submit] {
	background: #333333;
	color: white;
	font-size: 15px;
	border: 2px solid;
	border-color: #444444;
	border-top-color: #222222;
	border-left-color: #222222;
	border-radius: 5px;
	margin-top: 5px;
	padding: 7px 10px;
}

input[type=submit]:hover {
	background: #222222;
	color: white;
	font-size: 15px;
	border: 2px solid;
	border-color: #333333;
	border-top-color: #111111;
	border-left-color: #111111;
	border-radius: 5px;
	margin-top: 5px;
	padding: 7px 10px;
}

input[type=text] {
	background: #222222;
	font-size: 15px;
	color: white;
	border: none;
}

input[type=password] {
	background: #222222;
	font-size: 15px;
	color: white;
	border: none;
}

input[type=email] {
	background: #222222;
	font-size: 15px;
	color: white;
	border: none;
}

textarea {
	background: #222222;
	font-size: 15px;
	color: white;
	border: none;
	height: 400px;
}

ul {
	list-style-type: none;
}

td.code {
	width: 890px;
}

#likes {
	color: #528413;
	font-weight: bold;
}

select {
	background: #222222;
	color: #dddddd;
}

::selection {
	background: #D86E3F;
}

table {
	margin-left: auto;
	margin-right: auto;
}