<p>Incorrect username or password. Try again!</p>
<form class="login" action="/users/login" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Login"><br>
  <a href="/users/register">Don't have an account? Register here!</a>
</form>