<p>Your username must be at least 4 characters long and your password should be at least 8 characters!</p>
<p>The username/email you tried may be already taken!</p>
<form action="/users/register" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  E-mail:<br>
  <input type="email" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Register"><br>
  <a href="/users/login">Already have an account? Login here!</a>
</form>