<form action="/users/register" method="post">
  Username:<br>
  <input type="text" name="username"><br>
  E-mail:<br>
  <input type="email" name="email"><br>
  Password:<br>
  <input type="password" name="password"><br>
  <input type="submit" value="Register"><br>
  <a href="/users/login">Already have an account? Login here!</a>
</form>