<% if @marrows.any? %>
  <h2>These are all available marrows.</h2>
  <div class="container">
    <ul>
      <% @marrows.each do |marrow| %>
        <li><a href="/marrows/<%= marrow.name %>"><%= marrow.name %></a>, <i>by <%= marrow.creator %></i></li>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>No marrows available.</p>
<% end %>