<h2>These are all your marrows, <%= @@user %></h2>
<% if @marrows.any? %>
  <div class="container">
    <ul>
      <% @marrows.each do |marrow| %>
        <% if marrow.creator == @@user %>
          <li><a href="/marrows/<%= marrow.name %>/<%= @@user %>"><%= marrow.name %></a></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% else %>
  <p>No marrows available.</p>
<% end %>
<a href ="/marrows/create_marrow"><b>CREATE</b></a>