<p>Logged in as <%= @@user %></p>
<% if @marrows.any? %>
  <ul>
    <% @marrows.each do |marrow| %>
      <% if marrow.creator == @@user %>
        <li><%= Pygments.highlight(marrow.content, lexer: marrow.language, options: {linenos: 'table'}) %></li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p>No marrows available.</p>
<% end %>
<a href ="/marrows/create_marrow">Create a new Marrow.</a>