<% if @marrows.any? %>
  <h2>These are currently the most popular marrows.</h2>
  <div class="container">
    <ol>
      <% @marrows.each do |marrow| %>
        <% unless marrow == nil %>
          <li><a href="/marrows/<%= marrow.name %>"><%= marrow.name %></a>, <i>by <%= marrow.creator %> - <span id="likes"><%= marrow.rating %> likes</span></i></li>
        <% end %>
      <% end %>
    </ol>
  </div>
<% else %>
  <p>No marrows available.</p>
<% end %>